body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* imagem */
.layout__image {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

/* lado direito */
.layout__right {
    background-color: #FF8BC7;
}

/* card */
.auth-card {
    width: 90%;
    max-width: 400px;
    padding: 25px;
    border-radius: 35px;
    background: #FFDFFD;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

/* textos */
.auth-card__title {
    color: #844566;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
}

.auth-card__subtitle {
    color: #844566;
    margin-bottom: 20px;
}

/* botão */
.auth-card__button {
    width: 100%;
    margin-bottom: 10px;
    background-color: #E580B5;
    color: white;
    border: none;
}

.auth-card__button:hover {
    background-color: #A85A83;
}

.auth-card__button:active {
    background-color: #ffb8dd !important;
}

/* Form De Cadastro */
.Cadastro-Usuario {
    display: flex;
    flex-direction: column;
    gap: 1.5px;
}

.Cadastro-Usuario label {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 4px;
    color: #844566;
    display: block;
    text-align: left;
}

.Cadastro-Usuario input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}